/* 1) კომენტარის სახით დაალაგეთ მოცემული სელექტორები პრიორიტეტების მიხედვით:
Class, ID, Element, Inline

2) შექმენით ვებ-საიტი: დაამატეთ 3 ფოტო, 5 პარაგრაფი, 2 Heading-ი და 2 ღილაკი.

ფოტოებიდან 2-ს მიანიჭეთ წითელი ფერის double ბორდერი და ზომა: 200 x 200. გამოიყენეთ rgb
ხოლო დრჩენილ 1 ფოტოს მიანიჭეთ იასამნისფერი solid ბორდერი და ზომა: 150 x 150. გამოიყენეთ HEX code.

საიტზე დამატებულ 3 პარაგრაფს მიეცით ცისფერი ფერი (HEX), 2-ს კი ნარინჯისფერი ფერი (rgb).ხუთივე პარაგრაფი გადაიტანეთ ცენტრში.

ორივე Heading-ს მიეცით ლურჯი dotted ბორდერი, ტექსტის ფერი -- იისფერი და გადაიტანეთ ცენტრში. (გამოიყენეთ ფერის სახელწოდებები)

ღილაკები კი ინდივიდუალურად გასტილეთ. ამ ორ ღილაკს ჰქონდეს ერთმანეთისგან სხვადასხვა ფერი, ბორდერი და ზომა.

(ამ დავალებების შესასრულებლად გამოიყენეთ id-ები და class-ები. ელემენტები გასტილეთ Exrernal CSS-ში.) */

#heading1
#heading2 {
    text-align: center;
    color: purple;
    border: 2px dotted blue;
}

#img1 {
    width: 200px;
    
}